.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.005);
}

.cardImage {
  position: relative;
  width: 600px;
  overflow: hidden;
}
.servImage {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}
.cardImage:hover .servImage {
  transform: scale(1.1);
}

.cardNumber {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cardContent {
  padding: 16px 0;
}

.cardIcon {
  margin-bottom: 12px;
  display: flex;
}
.iconImage {
  width: 70px;
  height: 60px;
}

.cardTitle {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: clamp(16px, 2vw, 24px); /* Responsive font size */
  line-height: clamp(22px, 2.3vw, 27.6px); /* Responsive line height */
  font-weight: 700;
  color: #101118;
  margin-left: 20px;
}

.cardDescription {
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: clamp(20px, 2vw, 27.6px);
  margin-top: 8px;
  color: #929598;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cardImage {
    width: 262px;
  }

  .iconImage {
    width: 60px;
    height: 51px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardImage {
    width: 301px;
  }

  .iconImage {
    width: 60px;
    height: 47px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .iconImage {
    width: 60px;
    height: 55px;
  }
}
