.bannerService {
  background: radial-gradient(137.07% 137.07% at 50% 0%, rgba(0, 0, 0, 0.00) 0%, #000 100%),
    url("/assets/industriesBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 80px;
}

.sectionHeading {
  font-weight: 700;
  font-size: clamp(32px, 6vw, 60px);
  line-height: clamp(40px, 7vw, 70px);
  text-align: center;
}
