.aboutUsBanner {
  background-image: url("/assets/about-bgImg.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.sectionHeading {
  font-weight: 700;
  font-size: clamp(32px, 6vw, 60px);
  line-height: clamp(40px, 7vw, 70px);
  text-align: center;
}
.overlayAboutBanner {
  background-color: #0000006d;
}
.gradientText {
  background: linear-gradient(
    90.86deg,
    rgba(36, 197, 255, 1) 0%,
    rgba(251, 3, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
